*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#backend
/backend_laravel/.env
/backend_laravel/.env.backup
/backend_laravel/vendor/
/backend_laravel/storage/*.key
/backend_laravel/public/storage
/backend_laravel/bootstrap/cache/*
/backend_laravel/*.log
/backend_laravel/.DS_Store
/backend_laravel/.env
/backend_laravel/.env.backup
/backend_laravel/.env.production
/backend_laravel/.phpactor.json
/backend_laravel/.phpunit.result.cache
/backend_laravel/.codex
/backend_laravel/.cursor/
/backend_laravel/.idea
/backend_laravel/.nova
/backend_laravel/.phpunit.cache
/backend_laravel/.vscode
/backend_laravel/.zed
/backend_laravel/auth.json
/backend_laravel/node_modules
/backend_laravel/public/build
/backend_laravel/public/fonts-manifest.dev.json
/backend_laravel/public/hot
/backend_laravel/public/storage
/backend_laravel/storage/*.key
/backend_laravel/storage/pail
/backend_laravel/vendor
/backend_laravel/_ide_helper.php
/backend_laravel/Homestead.json
/backend_laravel/Homestead.yaml
/backend_laravel/Thumbs.db
# /backend_laravel/android-kabbadi-rani-tantan-firebase-adminsdk-fbsvc-815c4e9e70.json
